.tab-pane {
    -fx-tab-min-height: 40;
    -fx-tab-max-height: 40;
    -fx-tab-min-width: 100;
    -fx-tab-max-width: 100;
    -fx-padding: 0 0 0 0;

}

.tab-pane .tab-header-background {
    -fx-background-color: transparent;
}

.tab {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0 30 0 30;
    -fx-border-width: 0 0 5 0;
    -fx-border-color: transparent;
}

.tab:selected {
    /* -fx-background-color: red; */
    /* -fx-background-radius: 20px; */
    -fx-border-width: 0 0 5 0;
    -fx-border-color: #1E90FF;
    -fx-background-color: transparent;
}

.tab-lebel {

    -tab-text-color: white;
}

.tab-pane .tab-header-area {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 0 0;
}

.tab:selected .focus-indicator {
    -fx-border-color: transparant;
}

.textField,
.passwordField {
    -fx-background-color: transparent;
    -fx-border-color: #1E90FF;
    -fx-min-height: 38;
    -fx-max-height: 38;
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.textField:focused,
.passwordField:focused {
    -fx-border-color: #12599f;
}

.buttons {
    -fx-background-color: #1E90FF;

    -fx-font-weight: bold;
    -fx-padding: 5;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-min-height: 38;
    -fx-max-height: 38;
}

.logoButtons {
    -fx-background-color: #1E90FF;
    -fx-font-size: 10;
    -fx-padding: 5;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-min-height: 38;
    -fx-max-height: 38;
}

.buttons:hover,
.logoButtons:hover {
    -fx-background-color: #0476e8;
}

.buttons:pressed,
.logoButtons:pressed {
    -fx-background-color: #12599f;
}