.leftNavbar {
    -fx-background-color: #1E90FF;
}

.navButton {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: transparant;
    -fx-border-width: 0 0 0 5;
    -fx-border-color: transparent;
    -fx-font-weight: bold;
    -fx-padding: 10 0 10 0;
}

.navButton:hover {
    -fx-background-color: #0476e8;
}

.curButton {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: #0476e8;
    -fx-border-width: 0 0 0 5;
    -fx-border-color: #12599f;
    -fx-font-weight: bold;
    -fx-padding: 10 0 10 0;
}

.topNavButton,
.searchButton,
.userButton,
.cartButton {
    -fx-background-color: transparant;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: transparent;
    -fx-padding: 10 10 10 10;
}

.searchButton .image-view {
    -fx-image: url("../images/search.png");
}

.searchButton:hover .image-view {
    -fx-image: url("../images/search_hover.png");
}

.searchButton:pressed .image-view {
    -fx-image: url("../images/search_pressed.png");
}

.userButton .image-view {
    -fx-image: url("../images/user.png");
}

.userButton:hover .image-view {
    -fx-image: url("../images/user_hover.png");
}

.userButton:pressed .image-view {
    -fx-image: url("../images/user_pressed.png");
}

.cartButton .image-view {
    -fx-image: url("../images/cart.png");
}

.cartButton:hover .image-view {
    -fx-image: url("../images/cart_hover.png");
}

.cartButton:pressed .image-view {
    -fx-image: url("../images/cart_pressed.png");
}